<style>
  .sweethome3d-modal .modal-dialog {
    width: 300px;
  }
  .sweethome3d-modal .modal-content {
    background-color: black;
  }
</style>
<!--
  Write a template for each object you wish to display a modal for,
  and give it an id like so: "sweethome3d/<object_name>"
-->
<script type="text/ng-template" id="sweethome3d/Pendant lamp">
	<div style="min-height: 200px" ng-init="model={name: 'Ceiling light', item: 'Hue_Cuisine', vertical: true, step: 10, showticks: true}">
    <div class="box" style="width: 300px; height: 300px;">
      <div class="slider-content">
        <widget-slider ng-model="model"></widget-slider>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Wall uplight">
	<div style="min-height: 200px" ng-init="model={name: 'Wall light', item: 'Hue_Salon', vertical: true, step: 10, showticks: true}">
    <div class="box" style="width: 300px; height: 300px;">
      <widget-slider ng-model="model"></widget-slider>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Floor uplight">
	<div style="min-height: 200px" ng-init="model={name: 'Floor light', item: 'Hue_Bureau', step: 10, bigslider: true}">
    <div class="box" style="width: 300px; height: 300px; padding-top: 50px;">
      <widget-slider ng-model="model"></widget-slider>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Heat system">
	<div style="min-height: 200px" ng-init="model={name: 'Heating', item: 'MultiSensor_Temperature', unit:'°', subTextEnabled: true, step: 0.1, min: 18, max: 28}">
    <div class="box" style="width: 300px; height: 300px;">
      <div>
        <div>
          <widget-knob ng-model="model"></widget-knob>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Exterior door -4-">
	<div>
    <div class="box dummy" style="width: 300px; height: 300px;">
      <div class="dummy-content">
        Entry Door
        <widget-icon iconset="'eclipse-smarthome-classic'" icon="'door'" size="200" state="(itemState('Porte_Ouverte',true) == 'ON') ? 'OPEN' : 'CLOSED'"></widget-icon>
        <div class="value" style="font-size: 36pt">{{(itemState('Porte_Ouverte',true) == 'ON') ? 'OPEN' : 'CLOSED'}}</div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/TV 16:9">
	<div style="min-height: 200px" ng-init="model={name: 'TV', item: 'Yamaha_Power', 'iconset': 'freepik-gadgets', icon: 'television-screen', icon_size: 150}">
    <div class="box switch" style="width: 300px; height: 300px;">
      <div class="switch-content">
        <widget-switch ng-model="model"></widget-switch>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Micro wave">
	<div style="min-height: 200px" ng-init="model={name: 'Microwave', item: 'DemoSwitch', 'iconset': 'freepik-household', icon: 'microwave', icon_size: 150}">
    <div class="box switch" style="width: 300px; height: 300px;">
      <div class="switch-content">
        <widget-switch ng-model="model"></widget-switch>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="sweethome3d/Dishwasher -2-">
	<div style="min-height: 200px" ng-init="model={name: 'Dishwasher', item: 'DemoSwitch', 'iconset': 'freepik-household', icon: 'microwave', icon_size: 150}">
    <div class="box switch" style="width: 300px; height: 300px;">
      <div class="switch-content">
        <widget-switch ng-model="model"></widget-switch>
      </div>
    </div>
  </div>
</script>



<div oc-lazy-load="'/static/sweethome3d.directive.js'">

  <sweet-home-3d
      style="position: absolute; left: 0; right: 0; top: 0; bottom: 0"
      lib-url="/static/SweetHome3DJSViewer-5.5/lib"
      sh3d-url="/static/SweetHome3DJSViewer-5.5/default.sh3d">
  </sweet-home-3d>

</div>
